body{
    background-image: url(https://img1.goodfon.ru/wallpaper/nbig/6/29/art-minimalizm-pero-pticy.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
    height: 100vh;
    width: 100vmax;
    position: absolute;
    top: 0;
    left: 0;

}

@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
.register {
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    margin: -200px 0 0 -350px;
    background-image: linear-gradient(-25deg, #6161617a 0%, rgb(89, 82, 117) 100%);
    text-align: center;
    display: table; 
    box-shadow: 0 50px 100px rgba(0, 0, 0, 0.699);
}
.login-sec h2{
    background-color: rgba(240, 255, 255, 0.411);
    border-radius: 5px;
    margin: 10px;
    margin-bottom:10px;
    font-weight:800;
    font-size:30px;
    color: rgba(80, 79, 92, 1);
    padding: 15px;
}
.container{
    background:#D3D3D3;
    border-radius: 10px; 
    width: 50%;
    height: 
    40%;
}
.register-div-colmn1 {
    width: 355px;
    border-radius: 5px;
    margin: 10px;
    display:  table-column-group;
    float: left;
    background-color: rgba(240, 255, 255, 0.411);
    padding-block-end: 130px;
}
.register-div-colmn2{
    width: 355px;
    border-radius: 5px;
    margin: 10px;
    display:  table-column-group;
    float: left;
    background-color: rgba(240, 255, 255, 0.411);
    
}
.ng-manager{
    margin: 10px 10px 10px 10px;
}
.ng-button{
    float: right;
    margin: 5px 15px 5px 10px;
    color:rgba(80, 79, 92, 1);
    font-weight: bold;
    padding: 5px 10px;
    width:  160px;
    display: block;
    background-color: rgba(240, 255, 255, 0.411);
    border-radius: 10px;
    background-image: linear-gradient(to left,transparent,transparent 50%,rgba(124, 116, 158, 0.575) 50%,#000000a6);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    border: 1px solid rgb(45, 47, 48);
}
.ng-button:hover {
    background-position: 0 0;
    color:rgb(38, 38, 44);;
    }
input {
    float:right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100px;
    font-weight: bold;
    background: none;
    border-block-start: none;
    border-left: none;
    border-right: none;
    color: rgba(80, 79, 92, 1);
}
form.submitted input.ng-invalid, input.ng-dirty.ng-invalid {
    border: 1px solid red;
}
.text{   
    font-weight: bold;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 13px 10px 10px 10px;
    color: rgba(80, 79, 92, 1);
}
.shadow{
    font: 1.5em sans-serif;
    color: bisque;
    background-color: rgba(128, 128, 128, 0.438);
}
.options{
    float: right;
    width: 70px;
}

.radio{
    float: left;
}

