<body class="fadeInDown">
    <form [formGroup]="form" novalidate class="register submitted">
        <div class="shadow"></div>

        <div class="col login-sec">
            <h2 class="w3-input" class="text-center">Sign In</h2>
        </div>

        <div class="register-div-colmn2">
            <div class="text">
                <label>Name </label>
                <input [(ngModel)]="user.userName" placeholder="User Name" formControlName="name" />
            </div>

            <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
                class="alert-danger">
                <div *ngIf="form.controls['name'].errors.required">
                    Please enter your name
                </div>
            </div>

            <div class="text">
                <label>Email </label>
                <input [(ngModel)]="user.email" type="email" pattern=".+@gmail.com" size="20" formControlName="email"
                    placeholder="example@gmail.com" />
            </div>

            <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
                class=" alert-danger">
                <div *ngIf="form.controls['email'].errors.required">
                    Email is invalid.
                </div>
            </div>

            <div class="text">
                <label>Pussword </label>
                <input class="w3-input" [(ngModel)]="user.password" type="password" formControlName="password" />
            </div>

            <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
                class=" alert-danger">
                <div *ngIf="form.controls['password'].errors.required">
                    Password is invalid.
                </div>
            </div>

            <div class=" text">
                <label>Sex </label>
                <div class="options"> Male <input class="radio"  type="radio" (change) = "userSex = true;" name="contact"/>
                </div>
                <div class="options"> Female <input class="radio"  type="radio" (change) = "userSex = false;"  name="contact" />
                </div>
            </div>

            <div class=" text">
                <label>Phone </label>
                <input [(ngModel)]="user.userPhone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                    placeholder="067-999-9999" />
            </div>

            <div class=" text">
                <label>Birthday </label>
                <input [(ngModel)]="user.userBirthday" type="date" />
            </div>
        </div>


        <div class="register-div-colmn1">
            <div class="text">
                <label>Surname </label>
                <input [(ngModel)]="user.userSurname" />
            </div>
            <div class="text">
                <label>ConfirmPassword </label>
                <input  [(ngModel)]="user.confirmPassword" type="password" formControlName="confirmpassword" />
            </div>

            <div *ngIf="form.controls['confirmpassword'].invalid && (form.controls['confirmpassword'].dirty || form.controls['confirmpassword'].touched)"
                class=" alert-danger">
                <div *ngIf="form.controls['confirmpassword'].errors.required">
                    Confirm Password is invalid.
                </div>
            </div>
        </div>

        <button class="ng-button" (click)="onClickRegister()" type="submit">SUBMIT
        </button>
        <div class="ng-button" [routerLink]="['/login']">LOG IN </div>
    </form>
</body>