<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
  <section class="login-block">
    <div class="row ">
      <div class="col login-sec">
        <h2 class="text-center">Login Now</h2>
        <form [formGroup]="form" novalidate class="login-form">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
            <input [(ngModel)]="user.userName" type="text" formControlName="name"
              class="form-control" placeholder="">

          </div>

          <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
            class="alert-danger alert">
            <div *ngIf="form.controls['name'].errors.required">
              Name is incorrect
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
            <input [(ngModel)]="user.password" type="password" formControlName="password"
              class="form-control" placeholder="">
          </div>

          <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
            class="alert-danger alert">
            <div *ngIf="form.controls['password'].errors.required">
              Password is incorrect
            </div>
          </div>


          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              <small>Remember Me</small>
            </label>
            <button class="btn btn-login float-right" (click)="onClickLogIn()">SUBMIT</button>
            <button class="btn btn-login float-left" [routerLink]="['/register']">SIGN IN</button>
          </div>

        </form>
      </div>
    </div>

  </section>
</body>