.login-block{
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    margin: -200px 0 0 -350px;
    background-image: linear-gradient(-25deg, #6161617a 0%, rgb(89, 82, 117) 100%);
    text-align: center;
    box-shadow: 0 50px 100px rgba(0, 0, 0, 0.699);
}
form.submitted input.ng-invalid, input.ng-dirty.ng-invalid {
    border: 1px solid red;
  }
body{
    background-image: url(https://img1.goodfon.ru/wallpaper/nbig/6/29/art-minimalizm-pero-pticy.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

input:invalid {
    box-shadow: none;
    border-block-end-width: 10px;
    border-block-color: red;
}
.container{
    background:#D3D3D3;
    border-radius: 5px; 
    width: 100%;
    height: 
    40%;
}

.login-sec{
    padding: 50px 30px; 
    position:relative;
}

.login-sec h2{
    margin-bottom:30px;
    font-weight:800;
    font-size:30px;
    color: #2b2d2ead;
}

.login-sec h2:after{
    content:" "; 
    width:100px; 
    height:5px;
    background:#2f3335d3;
    display:block; 
    margin-top:20px;
    border-radius:3px;
    margin-left:auto;
    margin-right:auto
}

.btn-login{
    background: #5d5f61ad; 
    color:#fff; 
    font-weight:600;
}