<body>
    <section class="main-menu">
        <div class='main-menu-header'>
            <div class="logo">
                BOOK STORE
            </div>
            <div mdbBtn class="authorize" [routerLink]="['/login']">
                LOGIN
            </div>
            <div class="serch">
                <div class="searchBox">
                    <input [(ngModel)]="searchString" class="searchInput" type="text" name="" placeholder="Search"
                        (keydown.Enter)="onChange()">
                    <button class="searchButton" (click)="onChange()">
                        <img class="material-icons" src="https://png.icons8.com/search">
                    </button>
                </div>
            </div>
        </div>
        <div class="workspase">
            <!-- FILTER -->
            <div class="left-menu">
                <input type="checkbox" class="list-go-a"
                    style="opacity:0; position:absolute; height: 3em; width: 10em;">
                <br />
                <p class="filters"> Authors Filter: </p>
                <div class="chek-filter-checker a-item" *ngFor="let author of authorData.authors; let a = index">
                    <label class=" container">
                        <input [(ngModel)]="authorCheckedFilter[a].checked" class="author-cheked" type="checkbox"
                            value="author.id" (change)="onChange()">
                        <span class="checkmark"></span>
                    </label>
                    <div class="chek-filter-text">{{author.authorName}} </div>
                    <br />
                </div>
                <input type="checkbox" class="list-go-g"
                    style="opacity:0; position:absolute; height: 3em; width: 10em;">
                <p class="filters">Genres Filter: </p>
                <div class="chek-filter-checker g-item" *ngFor="let genre of genreData.genres; let g = index">
                    <label class="container">
                        <input [(ngModel)]="genreCheckedFilter[g].checked" class="genre-cheked" type="checkbox"
                            value="genre.id" (change)="onChange()">
                        <span class="checkmark"></span>
                    </label>
                    <div class="chek-filter-text">{{genre.bookGenre}} </div>
                    <br />
                </div>
                <input type="checkbox" class="list-go-m"
                    style="opacity:0; position:absolute; height: 2em; width: 10em;">
                <p class="filters">Magazines Filter: </p>
                <div class="chek-filter-checker m-item" *ngFor="let magazine of magazineData.magazines; let m = index">
                    <label class="container">
                        <input [(ngModel)]="magazineCheckedFilter[m].checked" class="magazine-cheked" type="checkbox"
                            value="magazine.id" (change)="onChange()">
                        <span class="checkmark"></span>
                    </label>
                    <div class="chek-filter-text">{{magazine.magazineName}}</div>
                    <br />
                </div>
                <p class="filters"> Price Filter : </p>
                <ng5-slider class="slider" [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
                    (click)="onChange()"></ng5-slider>
                <p class="filters">Date Filter :</p>
                <div class="col-xs-12 col-12 col-md-4 form-group">
                    <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker
                        [(ngModel)]="filterDate" (keydown.Enter)="onChange()">
                </div>
            </div>
            <!-- FILTER -->
            <div class="right-menu">Это реклама</div>
            <div class="books">
                <div class="column is-one-third" *ngFor="let book of booksData.books">
                    <div class="book-outside" *ngIf="book.enabled">
                        <div class="book">
                            <div class="book-blok1" id="style-1">
                                Authors :
                                <div class="authorsList"
                                    *ngFor="let author of book.allBookAuthors; let aindex = index;">
                                    <em *ngIf="aindex != book.allBookAuthors.length-1">{{author.authorName}}, </em>
                                    <em *ngIf="aindex == book.allBookAuthors.length-1">{{author.authorName}}; </em>
                                </div>
                                <p></p>
                                Genres :
                                <div class="authorsList" *ngFor="let genre of book.allBookGenres; let gindex = index;">
                                    <em *ngIf="gindex != book.allBookGenres.length-1">{{genre.bookGenre}}, </em>
                                    <em *ngIf="gindex == book.allBookGenres.length-1">{{genre.bookGenre}}; </em>
                                </div>
                                <p></p>
                                Magazines :
                                <div class="authorsList"
                                    *ngFor="let magazine of book.allBookMagazines; let mindex = index;">
                                    <em *ngIf="mindex != book.allBookMagazines.length-1">{{magazine.magazineName}},
                                    </em>
                                    <em *ngIf="mindex == book.allBookMagazines.length-1">{{magazine.magazineName}};
                                    </em>
                                </div>
                                <p></p>
                                Publication date :
                                <div>{{book.bookDate  | date:'yyyy-MM-dd'}} </div>
                            </div>
                            <div class="basket-button-conteiner">
                                <button class="basket-button" (click)="onAddClick(book.id)">ADD</button>
                            </div>
                        </div>
                        <p class="book-name"> {{book.bookName}}</p>
                    </div>
                    <div class="is-clearfix" *ngIf="(index + 1) % 4 == 0"></div>
                </div>
            </div>
        </div>
        <div class="korzina">
            <img type="button" class="icon-basket btn-primary mb-4"
                src="https://cdn3.iconfinder.com/data/icons/purchases-and-sales/512/carr.png" mdbWavesEffect
                (click)="basicModal.show()" style="max-width: 90px">
            <span class="badge" *ngIf="basketCount != 0">{{basketCount}}</span>
        </div>
        <div *ngIf="userRole == 'admin'" class="admin">
            <img src="https://i.ibb.co/vc8MhYP/kisspng-computer-icons-login-user-system-administrator-ima-editing-mafsyah-template-5b75843a7b1045-removebg-preview.png"
                mdbWavesEffect style="max-width: 90px" (click)="adminMenu.show()">
        </div>

    </section>

    <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel"><b>BASKET</b></h4>
                </div>

                <div class="modal-body">
                    <div>
                        <h5 style="display: inline-block; width: 35%;">Book Name</h5>
                        <h5 style="display: inline-block; width: 17%; text-align: center;">Book Price</h5>
                        <h5 style="display: inline-block; width: 15%; text-align: center;">Total Price</h5>
                        <h5 style="display: inline-block; width: 15%; text-align: center;">Count</h5>
                    </div>
                    <div *ngFor="let book of booksData.books">
                        <div *ngIf="mapOfBasketValue.get(book.id) != null">
                            <p style="display: inline-block; width: 35%;">{{book.bookName}}</p>
                            <p style="display: inline-block; width: 17%; text-align: center;">{{book.bookPrice}} $</p>
                            <p style="display: inline-block; width: 15%; text-align: center;">
                                {{totalPrice(book.bookPrice,mapOfBasketValue.get(book.id))}} $</p>
                            <div style="display: inline-block;width: 15%;">
                                <span aria-hidden="true"
                                    style="display: inline-block; width: 33%; padding-left: 25%; cursor:pointer;"
                                    (click)="removeItemFromBasket(book.id)">-</span>
                                <p style="display: inline-block;"
                                    style="display: inline-block; width: 33%; text-align: center;">
                                    {{mapOfBasketValue.get(book.id)}}</p>
                                <span aria-hidden="true" style="display: inline-block;width: 33%; cursor:pointer;"
                                    (click)="onAddClick(book.id)">+</span>
                            </div>
                            <button type="button" mdbBtn color="red" class="relative waves-light remuwe-busket-button"
                                mdbWavesEffect (click)="removeItemFromBasket(book.id)"> Remove </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <h5 style="float : left; width: 20%;">TO PAY :</h5>
                    <h5 style="float : left; width: 30%;">{{toPay}} $</h5>
                    <button type="button" mdbBtn color="default" class="waves-light" aria-label="Close"
                        (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                    <button type="button" mdbBtn color="danger" class="waves-light" (click)="cleanLocalStorage()"
                        aria-label="Close" mdbWavesEffect>CLEAN ALL</button>
                    <button type="button" mdbBtn color="green" class="relative waves-light" mdbWavesEffect> BUY
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div mdbModal #adminMenu="mdbModal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-full-height modal-left" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="adminMenu.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel"><b>SETTINGS</b></h4>
                </div>
                <div class="modal-body-header">
                    <h6>Add Item</h6>
                    <ng-select class="custom" [items]="action" [(ngModel)]="selectedAction" autofocus
                        style="width: 45%;display: inline-block; "></ng-select>
                    <ng-select class="custom" [multiple]="true" [items]="adminItems" [(ngModel)]="selectedAdminItem"
                        autofocus style="width: 45%; float: right; "></ng-select>
                </div>
                <div class="modal-body">
                    <div class="admin-action-menu">
                        <div *ngFor="let item of selectedAdminItem; let j = index">
                            <!--Add-->
                            <div class="admin-action-menu-item"
                                *ngIf="selectedAction == action[0] && item == adminItems[0]">
                                <p>Add Book</p>
                                <input class="admin-action-menu-item-input" type="text" placeholder="Book Name"
                                    [(ngModel)]="addBookView.bookName">
                                <input class="admin-action-menu-item-input" type="number" placeholder="Book Price"
                                    [(ngModel)]="addBookView.bookPrice">
                                <input class="admin-action-menu-item-input" type="date"
                                    placeholder="Book publication date" [(ngModel)]="addBookView.bookDate">
                                <ng-select class="custom admin-action-menu-item-input" [multiple]="true"
                                    [items]="authorData.authors" [(ngModel)]="selectedAdminAuthorData"
                                    bindLabel="authorName"></ng-select>
                                <ng-select class="custom admin-action-menu-item-input" [multiple]="true"
                                    [items]="genreData.genres" [(ngModel)]="selectedAdminGenreData"
                                    bindLabel="bookGenre"></ng-select>
                                <ng-select class="custom admin-action-menu-item-input" [multiple]="true"
                                    [items]="magazineData.magazines" [(ngModel)]="selectedAdminMagazineData"
                                    bindLabel="magazineName"></ng-select>
                                <button mdbBtn class="admin-action-menu-item-input-button-add"
                                    (click)="addBook()">ADD</button>
                            </div>

                            <div class="admin-action-menu-item"
                                *ngIf="selectedAction == action[0] && item == adminItems[1]">
                                <p>Add Author</p>
                                <input class="admin-action-menu-item-input" type="text" placeholder="Author Name"
                                    [(ngModel)]="addAuthorView.authorName">
                                <button mdbBtn class="admin-action-menu-item-input-button-add"
                                    (click)="addAuthor()">ADD</button>
                            </div>

                            <div class="admin-action-menu-item"
                                *ngIf="selectedAction == action[0] && item == adminItems[2]">
                                <p>Add Magazine</p>
                                <input class="admin-action-menu-item-input" type="text" placeholder="Magazine Name"
                                    [(ngModel)]="addMagazineView.magazineName">
                                <button mdbBtn class="admin-action-menu-item-input-button-add"
                                    (click)="addMagazine()">ADD</button>
                            </div>

                            <div class="admin-action-menu-item"
                                *ngIf="selectedAction == action[0] && item == adminItems[3]">
                                <p>Add Genre</p>
                                <input class="admin-action-menu-item-input" type="text" placeholder="Genre Name"
                                    [(ngModel)]="addGenreView.bookGenre">
                                <button mdbBtn class="admin-action-menu-item-input-button-add"
                                    (click)="addGenre()">ADD</button>
                            </div>
                            <!--Remove-->
                            <div class="admin-action-menu-item"
                                *ngIf="selectedAction == action[1] && item == adminItems[0]">
                                <p>Remove Book</p>
                                <ng-select class="custom" [items]="booksData.books" autofocus bindLabel="bookName"
                                    [(ngModel)]="removeBookViewName">
                                </ng-select>
                                <button mdbBtn class="admin-action-menu-item-input-button-remove"
                                    (click)="removeBook()">REMOVE</button>
                            </div>

                            <div class="admin-action-menu-item"
                                *ngIf="selectedAction == action[1] && item == adminItems[1]">
                                <p>Remove Author</p>
                                <ng-select class="custom" [items]="authorData.authors" autofocus bindLabel="authorName"
                                    [(ngModel)]="removeAuthorView">
                                </ng-select>
                                <button mdbBtn class="admin-action-menu-item-input-button-remove"
                                    (click)="removeAuthor()">REMOVE</button>
                            </div>

                            <div class="admin-action-menu-item"
                                *ngIf="selectedAction == action[1] && item == adminItems[2]">
                                <p>Remove Magazine</p>
                                <ng-select class="custom" [items]="magazineData.magazines" autofocus
                                    bindLabel="magazineName" [(ngModel)]="removeMagazineView">
                                </ng-select>
                                <button mdbBtn class="admin-action-menu-item-input-button-remove"
                                    (click)="removeMagazine()">REMOVE</button>
                            </div>

                            <div class="admin-action-menu-item"
                                *ngIf="selectedAction == action[1] && item == adminItems[3]">
                                <p>Remove Genre</p>
                                <ng-select class="custom" [items]="genreData.genres" autofocus bindLabel="bookGenre"
                                    [(ngModel)]="removeMagazineView">
                                </ng-select>
                                <button mdbBtn class="admin-action-menu-item-input-button-remove"
                                    (click)="removeGenre()">REMOVE</button>
                            </div>
                            <!--Update-->
                            <div class="admin-action-menu-item"
                                *ngIf="selectedAction == action[2] && item == adminItems[0]">
                                <p>Update Book</p>
                                <ng-select class="custom" [items]="booksData.books" autofocus bindLabel="bookName"
                                    [(ngModel)]="removeBookViewName">
                                </ng-select>
                                <input class="admin-action-menu-item-input" type="text" placeholder="New Book Name"
                                    [(ngModel)]="addBookView.bookName">
                                <input class="admin-action-menu-item-input" type="number" placeholder="New Book Price"
                                    [(ngModel)]="addBookView.bookPrice">
                                <input class="admin-action-menu-item-input" type="date"
                                    placeholder="Book publication date" [(ngModel)]="addBookView.bookDate">
                                <ng-select class="custom admin-action-menu-item-input" [multiple]="true"
                                    [items]="authorData.authors" [(ngModel)]="selectedAdminAuthorData"
                                    bindLabel="authorName"></ng-select>
                                <ng-select class="custom admin-action-menu-item-input" [multiple]="true"
                                    [items]="genreData.genres" [(ngModel)]="selectedAdminGenreData"
                                    bindLabel="bookGenre"></ng-select>
                                <ng-select class="custom admin-action-menu-item-input" [multiple]="true"
                                    [items]="magazineData.magazines" [(ngModel)]="selectedAdminMagazineData"
                                    bindLabel="magazineName"></ng-select>
                                <button mdbBtn class="admin-action-menu-item-input-button-update"
                                    (click)="removeBook()">UPDATE</button>
                            </div>

                            <div class="admin-action-menu-item"
                                *ngIf="selectedAction == action[2] && item == adminItems[1]">
                                <p>Update Author</p>
                                <ng-select class="custom" [items]="authorData.authors" autofocus bindLabel="authorName"
                                    [(ngModel)]="removeAuthorView">
                                </ng-select>
                                <input class="admin-action-menu-item-input" type="text" placeholder="New Author Name"
                                    [(ngModel)]="addAuthorView.authorName">
                                <button mdbBtn class="admin-action-menu-item-input-button-update"
                                    (click)="removeAuthor()">UPDATE</button>
                            </div>

                            <div class="admin-action-menu-item"
                                *ngIf="selectedAction == action[2] && item == adminItems[2]">
                                <p>Update Magazine</p>
                                <ng-select class="custom" [items]="magazineData.magazines" autofocus
                                    bindLabel="magazineName" [(ngModel)]="removeMagazineView">
                                </ng-select>
                                <input class="admin-action-menu-item-input" type="text" placeholder="New Magazine Name"
                                    [(ngModel)]="addMagazineView.magazineName">
                                <button mdbBtn class="admin-action-menu-item-input-button-update"
                                    (click)="removeMagazine()">UPDATE</button>
                            </div>

                            <div class="admin-action-menu-item"
                                *ngIf="selectedAction == action[2] && item == adminItems[3]">
                                <p>Update Genre</p>
                                <ng-select class="custom" [items]="genreData.genres" autofocus bindLabel="bookGenre"
                                    [(ngModel)]="removeMagazineView">
                                </ng-select>
                                <input class="admin-action-menu-item-input" type="text" placeholder="New Genre Name"
                                    [(ngModel)]="addGenreView.bookGenre">
                                
                                <button mdbBtn class="admin-action-menu-item-input-button-update"
                                    (click)="removeGenre()">UPDATE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>