
body {
    margin: 0%;
    --def: #96B7C4;     
    --inv: #fff;
    height: 25vh;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(-25deg, #4867D6 0%, #96B7C4 100%);
    color: #071D70;
}

section{
    
    margin-right: 15%;
    margin-left: 15%;
    width: 70%;
    position: absolute;
}
.column is-one-third{
    display: inline-block;
    width: 33%; 
    position: absolute;
}

.main-menu{
    height: auto;
    margin-block-start: 10%;    
}
.korzina{
    
    position: fixed;
    margin-block-start: 50%;
    margin-left: 75%;
    float: right;
    width: 15%;
    height: 15%;
    bottom:0;
    right:0;
    text-align: center;
    
}

.icon-basket{
    border-radius: 51%;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.5);
    transition: all .25s ease-in;
    background-size: 200% 100%;
    background-position: 100% 0;
    background-image: linear-gradient(to left,transparent,transparent 50%,#FFB100	 50%,#FFD473);
}
.icon-basket:hover {
    background-position: 0 0;
    color:rgb(38, 38, 44);;
    }


.authorize{
    font: 1em sans-serif;
    text-align: center;
    padding-block-start: 15px;
    padding-block-end: 30px;
    margin-right: 5px;
    float: right;
    width: 10%;
    height: 15%;
    transition: all .25s ease-in;
    background-size: 200% 100%;
    background-position: 100% 0;
    background-image: linear-gradient(to left,transparent,transparent 50%,#FFB100	 50%,#FFD473);
}
.authorize:hover {
    background-position: 0 0;
    color:rgb(38, 38, 44);;
    }

.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    padding-block-start: 5px;
    font-size: 40px; 
    float: left;   
}
.left-menu{
    float: left;
    width: 15%;
    height: 100%;
}

.book-blok1{
    overflow-y:scroll; 
    overflow-y:auto;
    background-color: #60B9CE;
    margin-block-start: 20%;
    padding-block-start: 5%;
    padding-block-end: 5%;
    height: 60%;
    padding-left: 5%;
    text-align: left;
    float: left;
    font-size: 12px;
    width: 50%;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
#style-1::-webkit-scrollbar-thumb {
    background-color: #3d3f499c;
}

.main-menu-header{
    height: 80px;
    background-color: #FFD473;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, transparent 0%, #071D70	 100%);
    border-image-slice: 1;
}
.right-menu{
    width: 15%;
    text-align: center;
    float: right;
    height: 58vh;
}

.authorsList{
    display: inline;
}
.book-outside{
    font-size: 25px;
    margin: 5px;
    position:relative;
    height: 270px;
    width: calc(96% / 3);
    float: left;
    border-width: 4px;
    border-color: rgba(162, 209, 193, 0.411);
    border-style: inset;
    overflow: hidden;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.5);
    
}
.book-name{
    padding-top: 33%;
    position: relative;
    display: inline-block;
    transition: 1s linear;
}
.book{
    
    text-align: center;
    position: absolute;
    background:rgba(255,255,255, 0.7);
    width: 100%;
    height: 100%;
    left: -110%;
    transition: left .5s cubic-bezier(.1, .39, .27, 1.35) .2s;
    
}

.book-outside:hover .book  {
    left: 0%;
    
}

.book-outside:hover .book-name  {
    font-size: 15px;
    padding-top: 0px;
    color: rgba(87, 87, 105, 0.767);
}
.books{
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: table;
    width: 66.2866%;
}
.workspase{
    width: 100%;
    position: absolute;
}

.chek-filter-text {
    margin-left: 25px;
}
.serch{
    padding-block-start: 5px;
    text-align: center;
    height: 55px;
    margin-right: 15%;  
    margin-left: 20%;
    width: 60%;
}

.searchBox {
    position: relative;
    float: left;
    transform:  translate(0%,0%);
    background: #ffffff;
    height: 50px;
    border-radius: 40px;
    padding: 5px;
}

.searchBox:hover > .searchInput {
    width: 55ex;
    
}

.searchBox:hover > .searchButton {
  background: white;
  color : #000000;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFB100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.material-icons{
height: 20px;
}
.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}
.a-item{
    margin-left: 5%;
    height: 25px;
    display: none;
}
.list-go-a:checked ~ .a-item {
    display: block;
}

.filter-button{
    background-color: #FFC540;
}
.g-item{
    margin-left: 5%;
    height: 25px;
    display: none;
}
.list-go-g:checked ~ .g-item {
    display: block;
}

.slider {
    width: 90%;
    background: #4867D6;
}
.m-item{
    margin-left: 5%;
    height: 25px;
    display: none;
}
.list-go-m:checked ~ .m-item {
    display: block;
}

@media screen and (max-width: 70%) {
    .searchBox:hover > .searchInput {
        width: 80ex;
        padding: 0 6px;
    }
}

.check-filter{
    width: 20px;
    text-align: left;
}
.container {

    display: block;
    position: relative;
    cursor: pointer;
    font-size: 14px;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .basketForm{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  }

  .filters{
      padding-left: 10px;
  }
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(33, 107, 243);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .datafilter {
      width: 100%;
  }

  .basket-button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  }

  .basket-button-conteiner{
      background: greenyellow;
      margin-top: 70%;
  }

  .form-control{
      width: 150px;
  }

  .badge {
    background-color: rgb(175, 76, 76);
    border-radius: 10px;
    color: white;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    position: fixed;
    bottom:6%;
    right:5%;
    text-align: center;
    vertical-align: middle;
  }

  .basket-window{
      width: 50%;
      height: 500px;
      background: #ccc;
  }

  .remuwe-busket-button{
      font-size: 14px;
      display: inline-block; 
      margin-right: 0px;
  }

  .admin{
    position: fixed;
    margin-block-start: 50%;
    margin-left: 75%;
    float: right;
    width: 15%;
    height: 15%;
    bottom:0;
    right:85%;
    text-align: center;
  }
  .admin-action-menu-item{
    margin: 10px 0 0 0px;
    width: 95%;
    border: 1px ridge #007bff;
    box-shadow: #007bff6b 1px 2px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(72, 103, 214, 0.315);
  }
  .admin-action-menu{
      width: 95%;
      position: absolute;
      height: 98%;
      color: rgb(33, 107, 243);
      overflow-y:scroll; 
      overflow-x: hidden;

  }

  .modal-body-header{
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-block-start: 20px;
      padding-left: 20px;
      padding-right: 20px;
      height: auto;
  }
  
  .admin-action-menu-item-input{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font: bold;
      width: 100%;
      color: rgb(33, 107, 243);
      border-radius: 5px;
      
      margin-block-start: 5px;
  }

  .admin-action-menu-item-input-button-add{
      font-size: 14px;
      font-weight: bold;
      margin-block-start: 10px;
      margin-left: 70%;
      border-radius: 5px;
      background: rgba(14, 204, 109, 0.616);
  }
  .admin-action-menu-item-input-button-remove{
    font-size: 14px;
    font-weight: bold;
    margin-block-start: 10px;
    margin-left: 60%;
    border-radius: 5px;
    color: #F5F5F5;
    background: rgba(204, 14, 14, 0.616);
}

.admin-action-menu-item-input-button-update{
    font-size: 14px;
    font-weight: bold;
    margin-block-start: 10px;
    margin-left: 60%;
    border-radius: 5px;
    color: rgb(238, 66, 13);
    background: rgb(255, 238, 0);
}
.admin-action-menu-item-input-button-update:hover{
    color: #000000;
}
.admin-action-menu-item-input-button-remove:hover{
    color: #000000; 
}